@import "../../../../variables";
@import "../../../utils/responsive";
@import "../../../utils/typography";

.container {
    margin-bottom: 40px;

    h3 {
        margin-bottom: 16px;
        padding-top: 40px;

        @include typography(40px, normal, 600, 62px, -1.5px, center);
    }

    .gallery__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1em;
        row-gap: 1em;

        @include responsive(mobile-large) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive(tablet) {
            grid-template-columns: repeat(4, 1fr);
        }

        li {
            background-color: #eee;
            display: inline-block;
            margin: 0 0 1em;
            width: 100%;
            cursor: pointer;

            div {
                display: flex !important;
                position: unset !important;
            }

            .item__image {
                width: 100% !important;
                height: 100% !important;
                position: unset !important;
            }
        }
    }

    .container__button {
        display: flex;
        align-items: center;

        a {
            background-color: $red;
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
            display: inline-block;
            margin: auto;
            text-align: center;
        }
    }
}

.gallery__modal {
    img {
        max-height: 90vh;
        max-width: 90vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
